# ==========================================
# KiCad - Temporäre Dateien & Backups
# ==========================================
*.bak
*.kicad_sch-bak
*.kicad_pcb-bak
*-save.kicad_sch
*-save.kicad_pcb
*.tmp
*.swp
*.autosave
*~
~*
*.lck
*pcb-backups/

# ==========================================
# KiCad - Simulationen, Netzlisten & BOM
# ==========================================
*.raw
*.log
*.out
*.net
*.csv
*.xml

# ==========================================
# KiCad - Plot, CAM & 3D Exporte
# ==========================================
*.gbr
*.gbo
*.gbs
*.gtl
*.gts
*.gto
*.gml
*.drl
*.zip
*.pdf
*.svg
*.ps
*.plt
*.step
*.stp
*.wrl
*.3shape
*.rpt

# Export-Verzeichnisse
production/
output/
gerbers/
fabrication-toolkit-options.json

# ==========================================
# KiCad - Cache & Editorkonfigurationen
# ==========================================
*.cache.lib
*.kicad_prl
fp-info-cache
*.lib
*.mod
*.cmp
*.pro
*.pro.user
*.kicad_wks
*.kicad_sym
*.kicad_mod

# Hinweis: 'sym-lib-table' und 'fp-lib-table' wurden bewusst 
# weggelassen, damit lokale Bauteil-Bibliotheken im Git bleiben.

# ==========================================
# PlatformIO & ESP-IDF
# ==========================================
.pio/
.pioenvs/
.piolibdeps/
build/
sdkconfig
sdkconfig.old

# ==========================================
# VS Code, Compiler-Cache & Tools
# ==========================================
.vscode/
.cache/
.clangd
compile_commands.json

